/*/// Main Styles 
||||||||||||||||||||||||||||
|||||||||||||///*/

body {
    font-family: "Roboto";
    background: #FAFAFA;

}

h1,
h2,
h3,
p {
    text-align: center;
    color: #424242;
    font-size: 1rem; 
}

ul {
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    width: 90%;
    
}

nav {
    margin-bottom: 36px;
}

/*/// Class Styles 
||||||||||||||||||||||||||||
|||||||||||||///*/

.main-nav li {
    background: rgb(255, 255, 255);
    border-radius: 4px;
}

.main-nav li a {
    display: block; 
    text-align: center;
    text-decoration: none;
    color: #424242;
    margin: 0 0 16px 0;
    padding: 16px 0;
    font-family: "Roboto";
    font-weight: 700;
    text-transform: uppercase;
    
}

.main-nav li a:hover {
    background: #494949;
    color: white;
    font-weight: 500;
    border-radius: 4px;
}

a:visited {
    color: #424242;
}

.profile-image {
    width: 70%;
    margin: 0 auto;
    display: block;
    padding-bottom: 16px;
}

.profile-container {
    width: 90%;
    margin: 0 auto;
}

/*/// Media Queries  
||||||||||||||||||||||||||||
|||||||||||||///*/


@media (min-width: 320px) {




}


@media (min-width: 768px) {




}

@media (min-width: 1024px) {





}
