/*/// Main Styles 
||||||||||||||||||||||||||||
|||||||||||||///*/

body {
    font-family: "Roboto";
    background: #EEE;

}

h1,
h2,
h3,
p {
    text-align: center;
    color: #424242;
}

/*/// Class Styles 
||||||||||||||||||||||||||||
|||||||||||||///*/

.main-nav li {
    text-align: center;
    background: #FAFAFA;
    margin: 8px 1em;
    height: 40px;
}

.main-nav a{
    margin-top: 8px;
    display: inline-block;
}



/*/// Media Queries  
||||||||||||||||||||||||||||
|||||||||||||///*/


@media (min-width: 320px) {




}


@media (min-width: 768px) {




}

@media (min-width: 1024px) {





}
