/*/// Main Styles 
||||||||||||||||||||||||||||
|||||||||||||///*/

* {
    box-sizing: border-box;
}
body {
    font-family: "Roboto";
    background: #FAFAFA;

}

a {
    text-align: center;
    text-decoration: none;
    display: block; 
    color: #424242;
    font-family: "Roboto";
    font-weight: 700;
    text-transform: uppercase;
}

a:visited {
    color: #424242;
}

a:hover {
    background: #494949;
    color: white;
    font-weight: 500;
    border-radius: 4px;
}

h1,
h2,
h3,
p {
    text-align: center;
    color: #424242;
    line-height: 24px; 
}

h2 {
    font-size: 1rem;
}

h3 {
    font-size: 1.3rem;
}

ul {
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    width: 90%;
    
}

nav {
    margin-bottom: 36px;
}

/*/// Media Queries  
||||||||||||||||||||||||||||
|||||||||||||///*/


@media (min-width: 320px) {

    .main-nav li {
        background: rgb(255, 255, 255);
        border-radius: 4px;
    }
    
    .main-nav li a {
        margin: 0 0 8px 0;
        padding: 16px 8px;
        
    }
    
    .profile-image {
        width: 70%;
        margin: 0 auto;
        display: block;
        padding-bottom: 16px;
    }
    
    .profile-container {
        width: 90%;
        margin: 0 auto;
    }
    
    .content-section img {
        width: 90%;
        display: block;
        margin: 0 auto;
        padding-top: 24px;
    }
    
    .content-section {
        background: white;
        padding-bottom:24px;
    }
    
    .marketing-container {
        padding-top: 16px;
    }
    
    .content-section p {
        width: 90%;
        margin: 16px auto;
    }
    
    .contact-container {
        padding: 24px 0;
    }
    
    .contact-container p {
        width: 90%;
        text-align: center;
        margin: 0 auto;
        padding: 24px 0;
    }
    
    .contact-container span {
        display: block;
        color: #424242;
        text-align: center;
        padding: 8px 0;
    }
    
    .footer-container {
        margin: 16px auto;
        border-top: solid 1px rgba(189, 189, 189, 0.473);
        width: 90%;
    }
    
    .footer-container h2,
     a {
        display: block;
        margin: 32px 0;
    }
    
    .footer-container h2{
        float: left;
    }
    
    .footer-container a {
        float: right;
        padding: 4px;
    }
    
}


@media (min-width: 768px) {

    .name {
        padding: 40px 0 20px;
        margin: 0;
    }
    .main-nav {
        margin: 0 auto;
        width: 60%;
        text-align: center;
    
    }

    .main-nav li {
        display: inline-block;
        background:#FAFAFA;
        margin: 0 20px;
    }

    .profile-image {
        float: right;
        width: 36%;
    }
    .profile-text {
        float: left;
        width: 60%;
        text-align: left;
    }
}

@media (min-width: 1024px) {





}


/*/// Clearfix  
||||||||||||||||||||||||||||
|||||||||||||///*/

.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }